apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-backend
  namespace: full-stack
spec:
  selector:
    matchLabels:
      app: api-backend
  template:
    metadata:
      labels:
        app: api-backend
    spec:
      containers:
        - name: postgrest
          image: docker.io/postgrest/postgrest:latest
          resources:
            requests:
              memory: "64Mi" # Muy poquito
              cpu: "50m" # 5% de CPU
            limits:
              memory: "256Mi" # Margen de seguridad
              cpu: "300m"
          ports:
            - containerPort: 3000
          env:
            # La URI apunta al servicio de base de datos definido arriba
            - name: PGRST_DB_URI
              value: "postgres://app_user:password123@postgres-service:5432/app_db"
            - name: PGRST_DB_SCHEMA
              value: "public"
            - name: PGRST_DB_ANON_ROLE
              value: "web_anon"
            - name: PGRST_OPENAPI_SERVER_PROXY_URI
              value: "https://api-route-full-stack.apps.lab.local"
            - name: PGRST_SERVER_CORS_ALLOWED_ORIGINS
              value: "https://frontend-route-full-stack.apps.lab.local"
            - name: PGRST_JWT_SECRET
              value: '{"keys":[{"kid":"5G2C1xx61Rb0o7KTpEowmm6tMyxZbYajts-okjPwRzw","kty":"RSA","alg":"RS256","use":"sig","n":"1CkI24lMUUQEdckvehWt0389d0gn2h6CCwcz9NCeW-VgqXuCAOyn6gbx28jgd6x02g3k9ATJTwrkiUhxAjdh9GklpXD-AFROvEBF9JjF5I3WORW7sVi87qyxHyKZtVIJmy3Rju5mByGIMPhC4xuxfMfd-k4hznxOjrsVEHVneVG3Xy37yrMoHqPyak9iOKx13bhYWmyJaN7OjuXuo-sUQT1xvWil-nqRNMbA85-OQmVYQUC5D2hzTOOfxCNkhEZs-CC-kJtmtYnT-Sc3yAsDI10ZPkWV3cN4bdNu_orve_qeFeUKzy41CDgNglqm0Pacg9EeEW9R2vF8R-vOoxJirw","e":"AQAB","x5c":["MIICoTCCAYkCBgGcMoJ8MzANBgkqhkiG9w0BAQsFADAUMRIwEAYDVQQDDAlsYWItcmVhbG0wHhcNMjYwMjA2MTAzMDM4WhcNMzYwMjA2MTAzMjE4WjAUMRIwEAYDVQQDDAlsYWItcmVhbG0wggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQDUKQjbiUxRRAR1yS96Fa3Tfz13SCfaHoILBzP00J5b5WCpe4IA7KfqBvHbyOB3rHTaDeT0BMlPCuSJSHECN2H0aSWlcP4AVE68QEX0mMXkjdY5FbuxWLzurLEfIpm1UgmbLdGO7mYHIYgw+ELjG7F8x936TiHOfE6OuxUQdWd5UbdfLfvKsygeo/JqT2I4rHXduFhabIlo3s6O5e6j6xRBPXG9aKX6epE0xsDzn45CZVhBQLkPaHNM45/EI2SERmz4IL6Qm2a1idP5JzfICwMjXRk+RZXdw3ht027+iu97+p4V5QrPLjUIOA2CWqbQ9pyD0R4Rb1Ha8XxH686jEmKvAgMBAAEwDQYJKoZIhvcNAQELBQADggEBALxl4nH9Ko8eaQKYn9sUI7eA6bVNTIX2s+gD1SpBoQuZktE0HxiabpSgYPxoE452gNWMPqnHi/Qxvij0TnjZTkoOtHIVwku1LVx98rkOVF6Ue2GG/KghA2xuR/1V12SfmLSHDhH7PYpN3TFt5jKPSZrnmE77/TksB7yU8EzzAYByHgJaE4GE9lYljHgbnO/505nCKSisLJSuLxN6rMVjpRp1SUIoo93X4j7NWTDnb2mxvtcMXRUdP52lBHUknhDh3m9jKCiI/svGQGk2XRLmIPllIbXOj8iSlqbetrFSxGnG22JyuJGgN5J7d1wkNLm9dtfKCSryWgBehcbJIX9krQg="],"x5t":"GOVyTPuR471NEi6_aw9goYRAH44","x5t#S256":"WGybGqHd6YZ3ROsx_w3bZUeTDxHeZg3CKvOqqCw-wE4"},{"kid":"t7ZR10iFTbw5KwCmw4CLVVuU3WSAJr5RejL0oJXrbXY","kty":"RSA","alg":"RSA-OAEP","use":"enc","n":"oFIz733CcuEV_ayQtQuPmlzPfQfTySzpRQqJ49H7_YITLdrEu7P1DstgcLfCBcO1ky1NJl6jjClY-BNwgvJwCzIhtceX4Cp4z7w4CkvlpsVCbQp0Zmt6HT6KyFWwyB7DuW6vsFIUvVKQrSHVm3hq3CMWyH7aZ-1UIgKNT5owpXebCovy-p7ckUoLKkr6_KamlDdJxErxItF6X4rsQ2YxLbC8FjiVr4iuStdd3xu24ZdfRbYDekFY5TZTsRy2enKidR8OoomcV_OhHnIEGQtC9v4DSxJ73PlKh9KUgPyUxnjyjt7Wd8j8aQD0ZF1qznQx17A4choaGiHartgUr8dpew","e":"AQAB","x5c":["MIICoTCCAYkCBgGcMoKAcTANBgkqhkiG9w0BAQsFADAUMRIwEAYDVQQDDAlsYWItcmVhbG0wHhcNMjYwMjA2MTAzMDM5WhcNMzYwMjA2MTAzMjE5WjAUMRIwEAYDVQQDDAlsYWItcmVhbG0wggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQCgUjPvfcJy4RX9rJC1C4+aXM99B9PJLOlFConj0fv9ghMt2sS7s/UOy2Bwt8IFw7WTLU0mXqOMKVj4E3CC8nALMiG1x5fgKnjPvDgKS+WmxUJtCnRma3odPorIVbDIHsO5bq+wUhS9UpCtIdWbeGrcIxbIftpn7VQiAo1PmjCld5sKi/L6ntyRSgsqSvr8pqaUN0nESvEi0XpfiuxDZjEtsLwWOJWviK5K113fG7bhl19FtgN6QVjlNlOxHLZ6cqJ1Hw6iiZxX86EecgQZC0L2/gNLEnvc+UqH0pSA/JTGePKO3tZ3yPxpAPRkXWrOdDHXsDhyGhoaIdqu2BSvx2l7AgMBAAEwDQYJKoZIhvcNAQELBQADggEBAF6pWYn0Y6PhHZoNGWIYoGw3aEUtXAcsl6Dg0nIyYjMxvU8X5PcpUZUsM1ps9nF5DEdZbRP00GdzQ4OFV7MnuV0dYBWGjopE6RIYjz6yN8dQmvtwYLxGq9uBmS94RuI1k95wRj9HnyH8cmqHWhLmJL/FTM2cEqVXhBo5H5NnlBeKhGc6j4AxZTEkOQFvW4nq7ERilnGJUBkba4j/4Sa8NWMPak7IAwBTu3lGTbpDP+SGik6VKaSdI3E2MyjIaGzuSt3vRa//oJz2ETVcUaBneh9G5ii7wDvRK2yCOs5gcOYTU6okqW52mUfJHMnFTZfvypWip42qnGQ+gVv6vX4Vt78="],"x5t":"gzmLQOD6GDL-lmUHQWLlXD2W7ns","x5t#S256":"y8gMjMVqgFx7Ym685RQEAxBQsSTuzkv7-0ba9fo8-y0"}]}'





