apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-backend
  namespace: full-stack
spec:
  selector:
    matchLabels:
      app: api-backend
  template:
    metadata:
      labels:
        app: api-backend
    spec:
      containers:
      - name: postgrest
        image: postgrest/postgrest
        ports:
        - containerPort: 3000
        env:
        # La URI apunta al servicio de base de datos definido arriba
        - name: PGRST_DB_URI
          value: "postgres://app_user:password123@postgres-service:5432/app_db"
        - name: PGRST_DB_SCHEMA
          value: "public"
        - name: PGRST_DB_ANON_ROLE
          value: "web_anon"