apiVersion: v1
kind: ConfigMap
metadata:
  name: swagger-config
  namespace: full-stack
data:
  swagger-initializer.js: |
    window.onload = function() {
      window.ui = SwaggerUIBundle({
        url: "https://api-route-full-stack.apps.lab.local/", 
        dom_id: '#swagger-ui',
        deepLinking: true,
        validatorUrl: null, // <--- ESTO DESACTIVA EL VALIDADOR EXTERNO
        presets: [
          SwaggerUIBundle.presets.apis,
          SwaggerUIStandalonePreset
        ],
        layout: "StandaloneLayout",
        oauth2RedirectUrl: "https://frontend-route-full-stack.apps.lab.local/oauth2-redirect.html",
        
        onComplete: function() {
          var spec = ui.specSelectors.specJson().toJS();
          
          // Configuración específica para Swagger 2.0 (OAS 2.0)
          spec.securityDefinitions = {
            "keycloak": {
              "type": "oauth2",
              "flow": "implicit", 
              "authorizationUrl": "https://keycloak-route-full-stack.apps.lab.local/realms/lab-realm/protocol/openid-connect/auth",
              "scopes": {
                "openid": "OpenID Connect",
                "profile": "User Profile"
              }
            }
          };
          
          // Aplicar seguridad globalmente
          spec.security = [{"keycloak": ["openid", "profile"]}];
          
          // Forzamos la actualización para limpiar cualquier residuo anterior
          ui.specActions.updateSpec(JSON.stringify(spec));
          
          ui.initOAuth({
            clientId: "swagger-client",
            realm: "lab-realm",
            appName: "FullStack Lab",
            scopes: "openid profile"
          });
        }
      });
    };