apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend-ui
  namespace: full-stack
spec:
  selector:
    matchLabels:
      app: frontend-ui
  template:
    metadata:
      labels:
        app: frontend-ui
    spec:
      containers:
      - name: swagger-ui
        image: swaggerapi/swagger-ui
        ports:
        - containerPort: 8080
        env:
        - name: BASE_URL
          value: "/"